@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&family=Yusei+Magic&display=swap");

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(221, 221, 221);
  padding: 5px 5%;
  margin-bottom: 30px;
  font-family: "Yusei Magic", sans-serif;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  color: rgb(25, 107, 214);
}

.navigation {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #121212;
}

.right-header {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  list-style-type: none;
}

.active {
  text-decoration: underline;
}
